html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #FFFFFF;

}
.about img{
    height: auto;
    width: 620px;
}
.about-text{
    width: 650px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: #6c94eb;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: #042468;
    border: 2px solid #6c94eb;
    cursor: pointer;
}
.team{
    width: 100%;
    padding: 0px 0px;
    background-color: #FFFFFF;

}
.about-text{
    width: 650px;
}
.main1{
    width: 1130px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}
.about-text h3{
    color: black;
    font-size: 50px;
    align-items: center;
    
}
.team1{
    width: 100%;
    padding: 0px 0px;
    background-color: #FFFFFF;
    
}
.main2{
    width: 1130px;
    max-width: 120%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h4{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 0px;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text h5{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 0px;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text h6{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 0px;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}
.contact{
    width: 100%;
    padding: 0px 0px;
    background-color: #FFFFFF;

}
.contact img{
    height: auto;
    width: 800px;
    margin-bottom: 20px;
}
.about-text{
    width: 650px;
}
.main3{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 50px;
    align-items: center;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 45px;
}
